@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --f_Poppins: 'Poppins';
    --f_Source: 'Source Sans 3';
    --primary: #2E3192;
    --secondary: #CECFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* ========================================== Nav start ==================================== */

.nav .container {
    display: flex;
    justify-content: space-between;
}


.nav__list {
    display: flex;
    align-items: center;
}

.nav__logo {
    margin-right: 50px;
}

.nav__link {
    padding: 32px 6px;
    display: block;
    color: black;
    font-size: 15px;
}

.nav__link:hover {
    text-shadow: 1px 1px 1px black;
}

.nav__right {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.nav__search input {
    border: none;
    outline: none;
}

.nav__search i {
    color: rgba(76, 83, 102, 1);
}
.nav__select{
    border: none;
}
.nav__btns .nav__btn {
    border: none;
    background: none;
    padding: 7px 24px;
    font-weight: 700;
    cursor: pointer;
}
.nav__btns .nav__btn:last-of-type {
    background: var(--primary);
    color: white;
    border-radius: 4px;
}
