@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --f_Poppins: 'Poppins';
    --f_Source: 'Source Sans 3';
    --primary: #2E3192;
    --secondary: #CECFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* ========================================== Nav start ==================================== */

.nav .container {
    display: flex;
    justify-content: space-between;
}